<div class="banner-box" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(/assets/images/hero.png);">
  <div class="text-container">
    <div class="header-container">
      <div class="hero-header"><%= dato.home.intro_header %></div>
      <div class="hero-copy"><%= dato.home.intro_text %></div>
    </div>
    <div class="btn-container">
      <a class="btn-flat" href="index.html#contact-form-inquiry"><%= dato.home.inquire %></a>
    </div>
  </div>
</div>
