.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #e47230;
  transition: background 0.3s ease;
  text-decoration: none;
  font-size: 16px;
}

.btn-flat:hover {
  background: #f79606;
  color: white;
}

.btn-container {
  margin-top: 4px;
}
