<h2>Testimonials</h2>
  <div class="row white-backfround">
    <div class="col-12">
      <div class="testimonial-card-container">
        <% dato.testimonials.each do |testimonial| %>
          <div class="testimonial-card" style="background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url(<%= testimonial.background_image.url %>); border: 16px <%= testimonial.border_color.rgb %>; border-style: solid none;">
            <div class="testimonial">
              <p><strong>"</strong><%= testimonial.comment %><strong>"</strong></p>
            </div>
            <div class="testimonial-description">
              <h5><%#= testimonial.name %></h5>
              <p><%#= testimonial.title %>, <%#= testimonial.affiliation %></p>
              <%= image_path(testimonial.background_image) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
